<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<link rel="stylesheet" href="home.css"  type="text/css" />-->
  <title>Coal Mines Ai</title>
</head>

<body>
  <!-- Header and Nav -->
  <nav>
    <div class = "logo">
        <p>MineChat</p>
    </div>
    <ul>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
    <!-- // Header and Nav -->

    <!-- Title heading -->
    <div class="title">
      <span class="heading">Mines GPT</span>
    </div>
  </header>
  <!-- // Title heading -->

 
  <section class="hero">
    <div class="title-container">
        <h1>MINES AI</h1>
    </div>
    <p>Ask about any legal query, anytime, anywhere</p>
</section>
<div class="chat-button-container">
    <a href="/" class="chat-button">Chat Now</a>
</div>
    <!--<button id="alertButton">Click Me</button>
</section>-->
    

<script src="script.js"></script>
</body>
</html>